# --------------------------------------------------
# Python
# --------------------------------------------------
__pycache__/
*.pyc

# --------------------------------------------------
# Virtual Environment
# --------------------------------------------------
gait_env/

# --------------------------------------------------
# Datasets
# --------------------------------------------------
GaitDatasetB-silh/
Processed_CASIAB/
*CASIA*/

# --------------------------------------------------
# Model Checkpoints
# --------------------------------------------------
*.pth

# --------------------------------------------------
# NumPy Files
# --------------------------------------------------
*.npy

# --------------------------------------------------
# Ignore images everywhere...
# --------------------------------------------------
*.png
*.jpg
*.jpeg

# --------------------------------------------------
# ...EXCEPT inside docs/ and results/
# --------------------------------------------------
!docs/
!docs/**
!results/
!results/**